my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user) "\0040";
}
my-phone::after {
  content: attr(data-domain);
}
my-phone::before {
  content: attr(data-user);
}
body {
  cursor: default;
}
@media (max-width: 960px) {
  span.affil-group {
    background-color: blue;
    display: none !important;
  }
}
span.affil-group {
  display: none !important;
  vertical-align: top;
}
span.affil-group span.affil_block {
  display: inline-block;
  background-color: none;
  padding-bottom: 5px;
  width: 70px;
  vertical-align: top;
}
span.affil-group span.affil_block:hover {
  background-color: gray;
  font-weight: 700 !important;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
span.affil-group span.affil_block .affil_title {
  display: inline-block;
  vertical-align: top;
}
span.affil-group span.affil_block .affil_image {
  display: inline-block;
}
img.sidebar_img {
  height: 65px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}
#social_buttons {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
#social_buttons a.social_button {
  list-style-type: none;
  text-align: left;
  font-size: 1.6em;
  line-height: 1em;
  padding: 3px;
  border-radius: 4px;
  /*    border: 1px solid #0D0D0D;
    background: #AF0011;
    -webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
    box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);*/
}
#social_buttons a.social_button:hover {
  background: #AF0011;
  background: -moz-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -o-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -ms-linear-gradient(top, #af0011 0%, #820011 100%);
  background: linear-gradient(top, #af0011 0%, #820011 100%);
  text-decoration: none;
}
#social_buttons .social-link {
  display: block;
  background: #AF0011;
  background: -moz-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -o-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -ms-linear-gradient(top, #af0011 0%, #820011 100%);
  background: linear-gradient(top, #af0011 0%, #820011 100%);
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9em;
  padding: 2px;
  margin-top: -2px;
}
#social_buttons .social-link > a.llll {
  font-weight: 700;
}
.me_me_me {
  display: inline-block;
  width: 260px;
  vertical-align: top;
}
.contact-group {
  text-align: left;
  display: inline-block;
  width: 260px;
  vertical-align: top;
}
.contact-group .fa-ul {
  margin-left: 1.5em;
}
.contact-group .contact-header {
  display: block;
  text-align: center;
  font-weight: 700;
  margin: 5px 0px;
  border-bottom: solid 1px gray;
}
.contact-group .contact-item {
  display: block;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 0px 3px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.contact-group .contact-item .contact-icon {
  display: inline-block;
  text-align: center;
}
.contact-group .contact-item:hover {
  background-color: lightgray;
  color: black !important;
}
.contact-group .contact-item:hover .fa {
  color: #AF0011;
}
.edu-group > .edu-item {
  display: block;
  border-bottom: solid 1px lightgray;
  margin-bottom: 2px;
  padding-bottom: 2px;
  min-height: 51px;
}
.edu-group > .edu-item .edu-img {
  float: left;
  width: 60px;
  border-width: 0px;
  margin: 0px 5px 0px 0px;
  padding: 0px;
}
.edu-group > .edu-item .edu-time {
  float: right;
  font-weight: 700;
}
h3.myHeader {
  margin: 15px 0px 5px 0px;
  font-size: 1.7em;
  text-align: center;
  border-bottom: 2px solid #686868;
  background-color: #f0f0f0;
  border-top-right-radius: 30px;
  border-top-left-radius: 10px;
  padding: 0px 0px 0px 10px;
  border-top: 1px solid #BDBDBD;
}
.pubItem {
  padding: 0px;
  margin: 15px 5px 5px 5px;
  background: #AF0011;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 0 1px #af0011, 2px 2px 3px 0px rgba(10, 10, 0, 0.5);
  cursor: default;
  page-break-inside: avoid;
}
.pubItem .pubItem-in {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
.pubItem .pub-title {
  font-size: 1.3em;
  font-weight: 700;
}
.pubItem .pub-authors {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 5px;
}
.pubItem .pub-image {
  -lh-property: 0;
width:-webkit-calc(100% - 10px);
width:-moz-calc(100% - 10px);
width:calc(100% - 10px);
;
  margin: 10px 0px 0px 0px;
}
.pubItem .fieldName {
  font-weight: 200;
}
.pubItem .pub-abstract {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin: 0px;
  font-style: italic;
  font-weight: 300;
  text-align: justify;
  height: 1.2em;
}
.pubItem .pub-abstract:hover {
  overflow: visible;
  white-space: normal;
  height: auto;
}
.pubItem .pub-abstract .fa {
  font-weight: 600;
  margin-left: 5px;
  color: gray;
}
.pubItem .pub-rightGroup {
  float: right;
  text-align: right;
}
.pubItem .pub-rightGroup .pub-pdfLink {
  font-size: 2em;
}
.pubItem .pub-rightGroup .pub-pdfLink:hover {
  text-shadow: 1px 1px 2px #969696;
  text-decoration: none;
}
.pubItem .pub-rightGroup .pub-videolink {
  display: block;
  font-size: 1.5em;
}
.pubItem .pub-rightGroup .pub-videolink:hover {
  text-shadow: 1px 1px 2px #969696;
  text-decoration: none;
}
.pubItem .pub-rightGroup .pub-doi {
  display: block;
  clear: all;
}
.pubItem .pub-rightGroup .pub-doi:hover {
  text-shadow: 1px 1px 2px #969696;
  text-decoration: none;
}
.section-Education {
  cursor: default;
}
.section-Education a {
  color: black;
}
#workList > ul {
  list-style-type: none;
  height: 200px;
  overflow: hidden;
}
#workList > ul > .workItem {
  margin-bottom: 3px;
}
#workList .lesserControl {
  font-size: 0.8em;
  display: block;
  padding-bottom: 2px;
  background-color: #f5f5f5;
  padding-left: 10px;
  font-style: italic;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
  border: solid 1px #cfc3c3;
}
#workList .lesserControl:before {
  content: "show more...";
}
#workList .lesserControl:hover {
  box-shadow: 1px 1px 1px 0px rgba(10, 10, 0, 0.5);
}
#workList .work-company-title {
  font-size: 1.1em;
  font-weight: 500;
}
#workList .work-time {
  float: right;
  font-weight: 700;
}
#workList[showLesser] {
  /*    .lesser{
      display: block;
    }*/
}
#workList[showLesser] > ul {
  height: auto;
}
#workList[showLesser] .lesserControl:before {
  content: "show less";
}
.rightBlock {
  background-color: #171717;
  color: #FDFDFB;
  width: 260px;
  right: 0px;
  position: fixed;
  border: 1px solid #000;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px;
  margin: 30px 0 0 0;
  -webkit-font-smoothing: antialiased;
}
.course-code {
  color: gray;
  font-size: 0.8em;
}
.course-code:before {
  content: "[";
}
.course-code:after {
  content: "]";
}
img.projectImg {
  margin: 4px;
  height: 70px;
}
.section_welcome p {
  margin-bottom: 5px;
}
.skill-group > .skill-item {
  display: block;
  margin-bottom: 3px;
}
.skill-group > .skill-item > .skill-feel {
  vertical-align: top;
  display: inline-block;
  width: 23px;
  text-align: right;
  color: gray;
  margin-right: 2px;
}
.skill-group > .skill-item > .skill-list {
  vertical-align: top;
  font-size: 1.2em;
}
.skill-group > .skill-item > .skill-area {
  vertical-align: top;
  display: inline-block;
  width: 200px;
}
.skill-group > .skill-item:hover > .skill-feel {
  color: black;
}
.qr_code {
  position: absolute;
  right: 5px;
  top: 1px;
  display: none;
  width: 60px;
}
.tagline {
  display: block;
  font-size: 1em;
  margin-bottom: 10px;
}
.adsdadas {
  font-size: 1.1em;
  font-style: italic;
  display: block;
  margin-bottom: 3px;
}
@media print {
  #social_buttons {
    display: none;
  }
  .no-print {
    display: none !important;
  }
  section {
    font-size: 0.8em;
  }
  body,
  header,
  section {
    padding: 0px;
    margin: 0px;
  }
  header {
    color: black !important;
  }
  .pubItem {
    padding: 0px;
    margin: 5px;
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 0px 0px white;
  }
  .pubItem .pubItem-in {
    background-color: white;
    border-radius: 0px;
    padding: 0px;
  }
  h3.myHeader {
    border-top: 0px solid #BDBDBD;
  }
  .contact-group {
    float: right;
    font-size: 0.7em;
    margin-top: 0px;
    margin-right: 50px;
    width: 160px;
  }
  .contact-group .contact-header {
    display: none;
  }
  .qr_code {
    display: inline-block;
  }
  .lesser {
    display: none;
  }
  #workList > ul {
    height: auto;
  }
  .me_me_me {
    width: 300px;
    text-align: left;
  }
}
